<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/projectView.css" />
    <link rel="stylesheet" href="/css/issueForm.css" />
    <%- style %>
  </head>

  <body>
    <header>
      <div class="nav-left">
        <h1>Issue Tracker</h1>
        <a href="/" id="home-button">Home</a>
      </div>
    </header>
    
    <%- body %> <%- script %>
  </body>
</html>
